<div class="d-flex wrapper justify-content-between align-items-center ">
    <div class="logo">
        <img src="assets/images/logo_light.svg" alt="myPaddi">
    </div>

    <div class="nav-icons d-flex justify-content-between w-25">
        <a href=""><img src="assets/images/blog_icon_inactive.svg" alt="blog link"></a>
        <a href=""><img src="assets/images/chat_icon_inactive.svg" alt="chat link"></a>
        <a href=""><img src="assets/images/audio_icon_inactive.svg" alt="audio link"></a>
    </div>

    <div class="notifications d-flex align-items-center justify-content-between">
        <form class="search" action="" >
            <input type="text" placeholder="Enter Keyword">
            <button><img src="assets/images/search_icon_light.svg" alt=""></button>
        </form>

        <div class="notification-icon">
            <img src="assets/images/unread_notifications_light.svg" alt="">
        </div>
        
        <div class="user-icon">
            <img class="img-fluid" src="assets/images/profile_pic_placeholder.svg" alt="">
        </div>

    </div>
</div>