<app-landingpage-navbar></app-landingpage-navbar>
<section class="">
    <div class="container d-flex justify-content-around">
            <div class="login-form d-flex  ">
            <div class="form-wrapper d-flex flex-column ">
                <h1 class="form-heading">Sign In</h1>

                <div class="mb-3 mt-3">
                    <label for="User-email" class="form-label">Email Address / Username</label>
                    <input type="text" class="form-control " id="User-email">
                </div>
                <div class="mb-3">
                    <label for="User-password" class="form-label">Password</label>
                    <div class="d-flex form-input">
                        <input type="password" class="form-control" id="User-password">
                        <button>
                            <img src="assets/images/view_password_icon.svg" alt="view password icon">
                        </button>
                    </div> 
                </div> 

                <a routerLink="../request-reset" class="mb-3 mt-3 forgot-password">Forgot your Password?</a> 

                <button   class="submit-btn">Log In</button>

                <p class="mb-3 mt-4">Don't have an account? <a routerLink="../register">Create an Account</a></p>
            </div>
            
        </div>
        <div class="carousel">
            <app-main-carousel></app-main-carousel>
        </div>
    </div>
    
</section>