<app-landingpage-navbar></app-landingpage-navbar>
<section >
    <div class="container d-flex justify-content-around">
        <div class="login-form d-flex  ">
            <div class="form-wrapper d-flex flex-column ">
                <form (keyup.enter)="register()" (ngSubmit)="register()" [formGroup]="registerForm">
                <div class="control-bars mb-3">
                    <button (click)="previousPage()" type="button" class="active-bar" [attr.data-visible]="firstSectionActive"></button>
                    <button (click)="nextPage()" type="button" class="second-bar" [attr.data-visible]="!firstSectionActive"></button>
                </div>
                <div class="create pages" *ngIf="firstSectionActive">
                    <h1 class="form-heading">Create an Account</h1>
    
                    <div class="">
                        <label for="user-email" class="form-label">Email Address</label>
                        <input type="text" class="form-control " formControlName="email" id="user-email">
                        <span class="text-danger"
                            *ngIf="submitted && (registerFormControl['email']?.errors && 
                            registerFormControl['email']?.hasError('required') || 
                            registerFormControl['email']?.invalid)
                            ">
                            Please provide a valid email address
                        </span>
                    </div>
                    <div id="user-details">
                        <div class=" user-name">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control " formControlName="username" id="username">
                            <span class="text-danger"
                                *ngIf="submitted && registerFormControl['username']?.errors && 
                                registerFormControl['username']?.hasError('required')
                                ">
                                Username is required
                            </span>
                        </div>
                        <div class=" gender">
                            <label for="user-gender" class="form-label">Gender</label>
                            <select class="form-select form-control" aria-label="Default select example"
                            formControlName="gender" id="user-gender">
                                <option selected></option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
    
                    </div>
                    <div class="">
                        <label for="user-password" class="form-label">Password</label>
                        <div class="d-flex form-input">
                            <input [type]="viewPassword ? 'text' : 'password'" class="form-control" formControlName="password" id="user-password">
                            <button type="button" (click)="view_password()" *ngIf="!viewPassword" class="viewPassword">
                                <img src="assets/images/view_password_icon.svg" alt="view password icon">
                            </button>
                            <button type="button" (click)="hide_password()" *ngIf="viewPassword" class="hidePassword">
                                <img src="assets/images/hide_password_icon.svg" alt="view password icon">
                            </button>
                        </div>
                        <span class="text-danger"
                            *ngIf="submitted && registerFormControl['password']?.errors && 
                            registerFormControl['password']?.hasError('required')
                            ">
                            Password is required
                        </span>
                        
                        
                    </div> 
    
                    <button (click)="nextPage()"  type="button" class="submit-btn mt-4">Next</button>
    
                    <p class="mt-3 sign-in">Have an account? <a routerLink="../login" class="sign-in-btn">Sign In</a></p>
                </div>
    
                <div class="personal pages" *ngIf="!firstSectionActive">
                    <h1 class="form-heading">Personal Details</h1>
                    
                    <div id="full-name">
                        <div class="first_name">
                            <label for="user-firstname" class="form-label">First Name</label>
                            <input type="text" class="form-control " formControlName="first_name" id="user-firstname">
                        </div>
    
                        <div class="last_name">
                            <label for="user-lastname" class="form-label">Last Name</label>
                            <input type="text" class="form-control " formControlName="last_name" id="user-lastname">
                        </div>
                    </div>
                    
                    
                    <div id="date-of-birth" class="">
                        <label for="birth-date" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" formControlName="date_of_birth" id="birth-date">
                        <span class="text-danger"
                            *ngIf="submitted && registerFormControl['date_of_birth']?.errors && 
                            registerFormControl['date_of_birth']?.hasError('required')
                            ">
                            Date of Birth is required
                        </span>
                    </div>
                   
                    <div id="contact-info">
                        <div class=" contact-location">
                            <label for="country-code" class="form-label">Country code</label>
                            <select class="form-select form-control w-100" formControlName="country_code"
                            aria-label="Default select example" id="country-code">
                                <option value={{country.value}} *ngFor="let country of countries">{{country.country}}</option>
                            </select>
                        </div>
                        
                        <div class=" contact-phone">
                            <label for="phone-number" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control w-100 " formControlName="phone_number"
                            id="phone-number">
                            <span class="text-danger"
                            *ngIf="submitted && registerFormControl['phone_number']?.errors && 
                            registerFormControl['phone_number']?.hasError('required')
                            ">
                            Phone Number is required
                        </span>
                            
                        </div>
    
                    </div>

                    <div class="mt-5 policy-check">
                        <input class="form-check-input" type="checkbox" name="policy-check" id="policy-check" 
                        formControlName="policyAcceptance" class="me-3">
                        <label for="policy-check" class="form-check-label d-inline" >I acknowledge that I am over 18 years of age,
                            and I agree to the <a href="#">User Agreement</a> and <a href="#">Privacy Policy</a>
                            I acknowledge that the User Agreement will only become binding for me
                            and for mypaddi when my identity has been successfully verified.
                        </label>
                        <span class="text-danger d-block"
                        *ngIf="submitted && (registerFormControl['policyAcceptance']?.errors && 
                        registerFormControl['policyAcceptance']?.hasError('required') || 
                        registerFormControl['policyAcceptance']?.value !== true) 
                        ">
                            Acknowledgement is required
                        </span>
                    </div>
    
                    <div class="control-btn  w-100 mt-4">
                        <button type="button" (click)="previousPage()" class="prev-btn" >Back</button>
                        <button  type="submit" class="submit-btn btn" [disabled]="registerForm.invalid">Finish
                            <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm mx-1" role="status"
                            aria-hidden="true"></span>
                        </button>
                    </div>

                    
                </div>
            </form>
            </div>           
        </div>
        <div class="carousel">
            <app-main-carousel></app-main-carousel>
        </div>
    </div>
    
</section>