<section >
    <div class="container">
        <div class="login-form d-flex  ">
            <div class="form-wrapper d-flex flex-column ">
                <div class="control-bars mb-3">
                    <button (click)="previousPage()" class="active-bar" [attr.data-visible]="hideForm"></button>
                    <button (click)="nextPage()" class="second-bar" [attr.data-visible]="hideForm"></button>
                </div>
                <div class="create pages" *ngIf="hideForm === false">
                    <h1 class="form-heading">Create an Account</h1>
    
                    <div class="">
                        <label for="User-email" class="form-label">Email Address</label>
                        <input type="text" class="form-control " id="User-email">
                    </div>
                    <div Id="User-details">
                        <div class=" User-name">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control " id="Username">
                        </div>
                        <div class=" gender">
                            <label for="User-gender" class="form-label">Gender</label>
                            <select class="form-select form-control" aria-label="Default select example" id="User-gender">
                                <option selected></option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Prefer not to say</option>
                            </select>
                        </div>
    
                    </div>
                    <div class="">
                        <label for="User-password" class="form-label">Password</label>
                        <div class="d-flex form-input">
                            <input type="password" class="form-control" id="User-password">
                            <button>
                                <img src="assets/images/view_password_icon.svg" alt="view password icon">
                            </button>
                        </div>
                        
                        
                    </div> 
    
                    <button (click)="nextPage()"  class="submit-btn">Next</button>
    
                    <p class="">Have an account? <a routerLink="../login" class="sign-in-btn">Sign In</a></p>
                </div>
    
                <div class="personal pages" *ngIf="hideForm === true">
                    <h1 class="form-heading">Personal Details</h1>
    
                    <div class="">
                        <label for="User-fullname" class="form-label">Fullname</label>
                        <input type="text" class="form-control " id="User-fullname">
                    </div>
                    
                    <div Id="date-of-birth" class="">
                        <label for="birth-date" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="birth-date">
                    </div>
                   
                    <div Id="contact-info">
                        <div class=" contact-location">
                            <label for="country-code" class="form-label">Country code</label>
                            <select class="form-select form-control w-100" aria-label="Default select example" id="country-code">
                                <!-- <option selected></option> -->
                                <option value={{country.value}} *ngFor="let country of countries">{{country.country}}</option>
                                <!-- <option value="2">+49</option> -->
                            </select>
                        </div>
                        <div class=" contact-phone">
                            <label for="phone-number" class="form-label">Phone Number</label>
                            <input type="text" class="form-control w-100 " id="phone-number">
                        </div>
    
                    </div>
    
                    <div class="control-btn  w-100">
                        <button (click)="previousPage()" class="prev-btn" >Back</button>
                        <button   class="submit-btn">Finish</button>
                    </div>
                </div>
            </div>           
        </div>
        <div class="carousel d-flex">
            <!-- <div class="carousel-wrapper">
                <img class="img-fluid" src="assets/images/carousel_3.svg" alt="placeholder image">
            </div> -->
        </div>
    </div>
    
</section>