.wrapper{
    padding-top: 2rem;
}
button{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 0.7rem;

    img{
        width: 20%;
    }
}

.discount-img img{
    border-radius: 1rem;
}

.carousel-card{
    border-radius: 1.5rem;
    position: relative;
    height: 13rem;
}
.chat-doc{
    background-color: #ECF9F3;
}
.explore-blog{
    background-color: #FFF6DD;
}
.sex-products{
    background-color: #EAE8FF;
}
.card-text{
    margin-block: 2.5rem;
    margin-inline: 1.5rem;
    h5{
        font-weight: 600;
    }
    .card-text1{
        color: #004765;
    }
    .card-text2{
        color: #655B00;
    }
    .card-text3{
        color: #370C62;
    }
}
.card-img{
    position: absolute;
    img{
        border-radius: 1.5rem;
    }
}
.card-img1{
    right: 0%;
    bottom: 0%;
    width: 40%;
}
.card-img1-cross{
    right: 0%;
    top: 20%;
    width: 40%;
}
.card-img2{
    right: 0%;
    bottom: 0%;
    width: 70%;
}
.card-img3{
    right: 5%;
    bottom: 7%;
    width: 50%;
}

.feature-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}
.feature-link1{
    color: #009EE1;
}
.feature-link2{
    color: #E1B000;
}
.feature-link3{
    color: #756AED;
}