.wrapper{
    padding-top: 2rem;
    // width: 80%;
    // margin: 0 auto;
}
button{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 0.7rem;

    img{
        width: 20%;
    }
}
.subscription-card{
    background-color: var(--bg-blue-2);
    padding: 1rem;
    border-radius: 1rem;
}
.sub-btn{
    color: #FFf;
    background-color: #2C67F5;
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
}
.sub-time{
    margin-bottom: 0;
    margin-left: 0.6rem;
    font-weight: 600;
}

.discount-img img{
    border-radius: 1rem;
}
@media (max-width:1263px) {
    .subscription-card{
        padding: 0.8rem;
    }
    .sub-btn{
        padding: 0.3rem 0.7rem;
    }
}