<div class="d-flex mt-4 album-list">

    <div class="album-card p-3 p-sm-4 d-flex me-4">

        <div class="me-2 me-sm-3">
            <p class="album-category">HEALTHY LIVING</p>
            <h5 class="album-title my-2">Losing Weight The Right Way</h5>
            <div class="d-flex play-album-div justify-content-center mt-3">
                <img src="assets/images/play_icon.svg" alt="play icon"/>
                <button class="play-album-btn">PLAY ALBUM</button>
            </div>
        </div>
        <div>
            <img src="/assets/images/audio_img_placeholder.svg" alt="album image" class="album-img"/>
        </div>
       
    </div>

    <div class="album-card p-3 p-sm-4 d-flex me-4">

        <div class="me-2 me-sm-3">
            <p class="album-category">HEALTHY LIVING</p>
            <h5 class="album-title my-2">Losing Weight The Right Way</h5>
            <div class="d-flex play-album-div justify-content-center mt-3">
                <img src="assets/images/play_icon.svg" alt="play icon"/>
                <button class="play-album-btn">PLAY ALBUM</button>
            </div>
        </div>
        <div>
            <img src="/assets/images/audio_img_placeholder.svg" alt="album image" class="album-img"/>
        </div>
       
    </div>

    <div class="album-card p-3 p-sm-4 d-flex me-4">

        <div class="me-2 me-sm-3">
            <p class="album-category">HEALTHY LIVING</p>
            <h5 class="album-title my-2">Losing Weight The Right Way</h5>
            <div class="d-flex play-album-div justify-content-center mt-3">
                <img src="assets/images/play_icon.svg" alt="play icon"/>
                <button class="play-album-btn">PLAY ALBUM</button>
            </div>
        </div>
        <div>
            <img src="/assets/images/audio_img_placeholder.svg" alt="album image" class="album-img"/>
        </div>
       
    </div>

</div>
