<div class="container mt-2">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center advocacy-img">
            <div class="containers">
                <div id="carouselExampleIndicators" class="carousel slide Advocacy-carousel align-items-center justify-content-center" data-bs-ride="carousel">
                    <div class="carousel-indicators align-items-center">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="li" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="li" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="li" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="/assets/images/advocacy_campaign.svg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="/assets/images/advocacy_campaign.svg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="/assets/images/advocacy_campaign.svg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="/assets/images/advocacy_campaign.svg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center text">
            <h5>Sexual Health Advocacy Campaign</h5>
            <p>View our past health care initiative (Medical Outreach)</p>
        </div>
        <div class="col-lg-4 d-flex btn-blue">
            <a [routerLink]="['/blog/sexual-advocacy']" class="btn btn-primary">Join Us Today</a>
        </div>
    </div>
</div>