<p class="featured d-xl-none">Featured Posts</p>
<div *ngIf="loading" class="position-relative spinner-div">
    <app-spinner size="small"></app-spinner>
</div>
<div class="wrapper" *ngIf="!loading">
    <div class="featured-card d-flex" *ngFor="let post of featuredPosts">
        <div class="featured-card-text">
            <p class="post-category">{{post?.blog_category?.category_name}}</p>
            <h5 class="post-topic" [innerHTML]="post?.title?.length > 32?  truncate(post?.title, 32, 'title') : post?.title"></h5>
            <a href="" class="card-link d-flex">CONTINUE READING <img src="/assets/images/arrow_right_light.svg" alt=""></a>
        </div>
        <div class="featured-card-img">
            <img src={{post?.image}} class="img-fluid" alt="">
        </div>
    </div>
</div>
