<p class="featured d-xl-none">Featured Posts</p>
<div class="wrapper">
    <div class="featured-card d-flex">
        <div class="featured-card-text">
            <p class="post-category">SEXUAL PLEASURE</p>
            <h5 class="post-topic">5 Boxes to Check
                Before Having...</h5>

            <a href="" class="card-link d-flex">CONTINUE READING <img src="/assets/images/arrow_right_light.svg" alt=""></a>
        </div>
        <div class="featured-card-img">
            <img src="/assets/images/blog_placeholder.svg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="featured-card d-flex">
        <div class="featured-card-text">
            <p class="post-category">SEXUAL PLEASURE</p>
            <h5 class="post-topic">5 Boxes to Check
                Before Having...</h5>

            <a href="" class="card-link d-flex">CONTINUE READING <img src="/assets/images/arrow_right_light.svg" alt=""></a>
        </div>
        <div class="featured-card-img">
            <img src="/assets/images/blog_placeholder.svg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="featured-card d-flex">
        <div class="featured-card-text">
            <p class="post-category">SEXUAL PLEASURE</p>
            <h5 class="post-topic">5 Boxes to Check
                Before Having...</h5>

            <a href="" class="card-link d-flex">CONTINUE READING <img src="/assets/images/arrow_right_light.svg" alt=""></a>
        </div>
        <div class="featured-card-img">
            <img src="/assets/images/blog_placeholder.svg" class="img-fluid" alt="">
        </div>
    </div>
</div>
