<div class="wrapper">
    <div class="recent-category d-flex justify-content-between align-items-center">
        <p class="recent">Recent Posts</p>
        <button class="category-btn" data-bs-target="#categoryModal" data-bs-toggle="modal"> Select Category <img src="assets/images/category_dropdown_light.svg" alt="dropdown"></button>
    </div>
    <app-select-category [categories]="categories" (categoryEvent)="getCategorySort($event)"></app-select-category>

    <div *ngIf="isBlogLoading" class="position-relative spinner-div">
        <app-spinner size="small"></app-spinner>
    </div>

    <div class="recent-post-container scrollContent" *ngIf="!isBlogLoading">
        <p *ngIf="noSavedPosts" class="no-saved-blogs text-center">There are no saved blogs</p>

        <div class="post d-flex justify-content-between align-items-center" *ngFor="let post of posts">
            <div class="post-text d-flex flex-column gap-2">

                <div class="post-heading-sm justify-content-between align-items-center ">
                    <div class="post-img-sm">
                        <img [src]="post?.image" class="img-fluid" alt="post image">
                    </div>
                    <div class="post-header d-flex flex-column gap-2">
                        <a routerLink="/blog/single-post" class="post-topic" [innerHTML]="post?.title"></a>
                        <div class="post-details d-flex">
                            <p class="post-category" [innerHTML]="post?.blog_category?.category_name"></p>
                            <p class="days-posted d-flex align-items-center"><img src="assets/images/clock_icon.svg" alt="">{{moment(post?.created_at).fromNow()}}</p>
                        </div>
                    </div>
                    <button (click)="checkSaved(post) ? unsaveBlog(post) : saveBlog(post)">
                        <img [src]="checkSaved(post) ? '/assets/images/saved_icon.svg' : '/assets/images/save_icon.svg'"
                        alt="save post button"/></button>
                </div>
                
                <div class="post-heading-lg d-flex flex-column gap-2">
                    <a routerLink="/blog/single-post" class="post-topic" [innerHTML]="post?.title"></a>
                    <div class="post-details d-flex">
                        <p class="post-category" [innerHTML]="post?.blog_category?.category_name">SEXUAL HEALTH</p>
                        <p class="days-posted d-flex align-items-center"><img src="assets/images/clock_icon.svg" alt="clock image">{{moment(post?.created_at).fromNow()}}</p>
                        <button class="save-post d-flex align-items-center" (click)="checkSaved(post) ? unsaveBlog(post) : saveBlog(post)">
                            <img [src]="checkSaved(post) ? '/assets/images/saved_icon.svg' : '/assets/images/save_icon.svg'"

                            alt="save post button">{{checkSaved(post) ? 'SAVED': 'SAVE POST'}}</button>
                    </div>
                </div>

                <div class="post-body" [innerHTML]="post?.blog?.length > 200 ? truncate(post?.blog, 200, 'text') : post?.blog">
                    <a></a>
                </div>
                <div class="post-footer post-details d-flex">
                    <p class="reads d-flex align-items-center"><img src="assets/images/reads_icon.svg" class="footer-icons" alt="reads">{{post?.read_count}} <span class="footer-text">{{post?.read_count === 1 ? 'Read': 'Reads'}}</span></p>
                    <p class="comments d-flex align-items-center"><img src="assets/images/comments_icon.svg" class="footer-icons" alt="comments">{{post?.comments_count}} <span class="footer-text">{{post?.comments_count === 1 ? 'Comment': 'Comments'}}</span> </p>
                    <p class="time-commented d-flex align-items-center"><img src="assets/images/clock_icon.svg" class="footer-icons" alt="time commented">{{post?.read_time}} mins</p>
                </div>
            </div>

            <div class="post-img-lg">
                <img [src]="post?.image" class="img-fluid" alt="post image">
            </div>
        </div>
        <div class="text-center" *ngIf="isScrollLoading$ | async">
            <app-small-spinner></app-small-spinner>
        </div>
        <div class="search-results" infiniteScroll [infiniteScrollDisabled]="scrollDisabled" [infiniteScrollUpDistance]="scrollUpDistance" 
        [infiniteScrollDistance]="distance" [infiniteScrollThrottle]="throttle" (scrolled)="onScroll()"
        [infiniteScrollContainer]="'.scrollContent'" [fromRoot]="true">
        </div>
        
    </div>

</div>