<div class="wrapper">
    <div class="recent-category d-flex justify-content-between align-items-center">
        <p class="recent">Recent Posts</p>
        <button class="category-btn"> Select Category <img src="assets/images/category_dropdown_light.svg" alt="dropdown"></button>
    </div>

    <div class="recent-post-container">

        <div class="post d-flex justify-content-between align-items-center">
            <div class="post-text d-flex flex-column gap-2">

                <div class="post-heading-sm justify-content-between align-items-center ">
                    <div class="post-img-sm">
                        <img src="assets/images/blog_placeholder.svg" class="img-fluid" alt="post image">
                    </div>
                    <div class="post-header d-flex flex-column gap-2">
                        <a routerLink="/blog/single-post" class="post-topic">Some Causes of Infertility</a>
                        <div class="post-details d-flex">
                            <p class="post-category">SEXUAL HEALTH</p>
                            <p class="days-posted d-flex align-items-center"><img src="assets/images/clock_icon.svg" alt="">5 DAYS AGO</p>
                        </div>
                    </div>
                    <button><img src="assets/images/save_icon.svg" alt="save post button"></button>
                </div>
                
                <div class="post-heading-lg d-flex flex-column gap-2">
                    <a routerLink="/blog/single-post" class="post-topic">Some Causes of Infertility</a>
                    <div class="post-details d-flex">
                        <p class="post-category">SEXUAL HEALTH</p>
                        <p class="days-posted d-flex align-items-center"><img src="assets/images/clock_icon.svg" alt="clock image">5 DAYS AGO</p>
                        <button class="save-post d-flex align-items-center"><img src="assets/images/save_icon.svg" alt="save post button"> SAVE POST</button>
                    </div>
                </div>

                <div class="post-body">
                    <a>Infertility means the inability to get pregnant after
                        one year of trying to conceive. Men with infertility
                        problems may have low sperm counts... See more</a>
                </div>
                <div class="post-footer post-details d-flex">
                    <p class="reads d-flex align-items-center"><img src="assets/images/reads_icon.svg" class="footer-icons" alt="reads">7,583 <span class="footer-text">Reads</span></p>
                    <p class="comments d-flex align-items-center"><img src="assets/images/comments_icon.svg" class="footer-icons" alt="comments">28 <span class="footer-text">Comments</span> </p>
                    <p class="time-commented d-flex align-items-center"><img src="assets/images/clock_icon.svg" class="footer-icons" alt="time commented">2 mins</p>
                </div>
            </div>

            <div class="post-img-lg">
                <img src="assets/images/blog_placeholder.svg" class="img-fluid" alt="post image">
            </div>
        </div>
        
    </div>

</div>