<div class="single-post pt-4">

    <div class="post">
        <div class="post-text">
           <div class="main-post">
                <div class="post-heading">
                    <h4 class="post-topic">Some Causes of Infertility</h4>
                    <div class="post-details d-flex">
                        <p class="post-category">SEXUAL HEALTH</p>
                        <p class="days-posted d-flex align-items-center"><img src="assets/images/clock_icon.svg" alt="clock image">5 DAYS AGO</p>
                        <a class="save-post d-flex align-items-center"><img src="assets/images/save_icon.svg" alt="save post button"> SAVE POST</a>
                    </div>
                </div>
                <img src="assets/images/blog_placeholder.svg" class="img-fluid post-img" alt="post image">

                <div class="post-body">
                    <div class="post-text">
                        <p class="text-upper">Infertility means the inability to get pregnant after one year of trying to conceive. Men with infertility problems may have low sperm counts. My name is Tega. I'm a musician who recently starred in the Neflix drama, All Na Vibes, I moved to Ibadan when I was nine,</p>
                        <p class="text-below"> I moved around a lot because my parents were clergy people. And yes, I turned out the way you'd expect a pastor's kid to: free, happy and living with nature. I like eating, playing games and watching squirrels walk around.</p> 
                    </div>
                </div>
           </div>


            <div class="post-heading-sm">
                <h5 class="post-topic-1">Some Causes of Infertility</h5>
                <div class="post-body-1">
                    <p class="text-upper">I started early. As a kid, I used to make choruses for my brother for fun. I was a big fan of Eminem and used to rap all his lyrics, even the ones i couldn't hear. Back then, the only way to get lyrics was to wait ten minutes for A-Z lyrics to load, or you listen, pause and write down each line on paper. The second process subconsciously helped me understand the way lyrics are put together, the syntax of a song.</p>
                    <p class="text-below">Down the line , I tried to be a petroleum engineer then a computer scientist because I wanted to make money.You know you just want to make money when you're a kid.</p>
                </div>
            </div>

            <div class="post-engage d-flex">
                <p class="reads d-flex align-items-center"><img src="assets/images/reads_icon.svg" class=" img-fluid footer-icons" alt="reads">7,583 <span class="footer-text"> Reads</span></p>
                <p class="comments d-flex align-items-center"><img src="assets/images/comments_icon.svg" class="img-fluid footer-icons" alt="comments">28 <span class="footer-text"> Comments</span> </p>
                <button type="button" class="share-post">share post</button>
            </div>

            <div class="comment-section"><input type="text" class="comment" Placeholder="Leave a comment..."><img src="assets/images/send_icon.svg" class=" img-fluid send-comment" alt="send"></div>

           <div class="related-post">
                <p>Related post</p>
                <app-blog-featured></app-blog-featured>
           </div>

           <div class="main-comments d-flex align-items-center pt-4">
                <div class="profile-date d-flex align-items-center">
                    <p class="name"><img src="assets/images/profile_pic_placeholder.svg" class="img-fluid profile-img" alt="profile-img">Jayhimsef</p>
                    <p class="duration"><img src="assets/images/clock_icon.svg" class="img-fluid clock-img" alt="clock-img">5 DAYS AGO</p>
                </div>

                <button type="button" class="share-post">Report</button>
           </div>
           <div class="posted-comment pb-2">
                <p>Wow, this was so good to read</p>
                <span class="likes-num"><img src="assets/images/like_icon.svg" class="like-icon" alt="like">764 Likes</span>
           </div>
           <hr>
           <div class="main-comments d-flex align-items-center pt-2">
                <div class="profile-date d-flex align-items-center">
                    <p class="name"><img src="assets/images/profile_pic_placeholder.svg" class="img-fluid profile-img" alt="profile-img">Sammypraise</p>
                    <p class="duration"><img src="assets/images/clock_icon.svg" class="img-fluid clock-img" alt="clock-img">5 DAYS AGO</p>
                </div>

                <button type="button" class="share-post">Report</button>
            </div>
            <div class="posted-comment">
                    <p>Wow, this was so good to read</p>
                    <span class="likes-num"><img src="assets/images/like_icon.svg" class="like-icon" alt="like">764 Likes</span>
            </div>
        </div>

    </div>

</div>
