.row {
    align-self: center;
}

h4 {
    text-align: center;
    color: var(--text-grey-2);
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.flex-container {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-light {
    width: 22rem;
    height: 18rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ecf9f3;
    border-radius: 2rem;
    padding: 2.8rem 0 0 2rem;
    margin-right: 1rem;
    justify-content: center;
}

.chat-doc h5 {
    width: 95%;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0.04rem;
    color: #004765;
}

.chat-doc p {
    font-size: 1rem;
    font-weight: bold;
    color: #009EE1;
    ;
}

.doc-img img {
    border-radius: 2rem;
    width: 25rem;
}

.box-yellow {
    width: 22rem;
    height: 18rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFF6DD;
    border-radius: 2rem;
    padding: 3rem 0 0 2rem;
    margin-right: 1rem;
}

.explore-blog h5 {
    width: 10.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0.03rem;
    color: #655B00;
    margin-top: -1rem;
}

.explore-blog p {
    font-size: 1rem;
    font-weight: bold;
    color: #E1B000;
    white-space: nowrap;
}

.exploreblog-img img {
    border-radius: 2rem;
    margin-top: 1.9rem;
}

.box-purple {
    width: 22rem;
    height: 18rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: #EAE8FF;
    border-radius: 2rem;
    padding: 3rem 0 0 2rem;
    justify-content: space-between;
    margin-right: 1rem;
}

.sex-products h5 {
    width: 10.5rem;
    font-size: 1.6rem;
    font-weight: bolder;
    line-height: 2rem;
    letter-spacing: 0.03rem;
    color: #370C62;
    margin-top: -1rem;
}

.sex-products a {
    font-size: 1rem;
    font-weight: bold;
    color: #756AED;
    white-space: nowrap;
}

.sexproduct-img img {
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.arrow {
    width: 1.5rem;
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

@media (min-width: 437px) and (max-width: 991px) {
    .box-light {
        width: 28rem;
        margin-left: 1rem;
    }
    .box-yellow {
        width: 28rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .box-purple {
        width: 28rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .chat-doc h5 {
        font-size: 1.5rem;
        width: 68%;
        padding: 0 0 0 1.5rem;
    }
    .doc-img img {
        max-width: 10.3rem;
        margin-left: -1.8rem;
    }
    .explore-blog h5 {
        width: 10.5rem;
        padding: 0 0 0 1.5rem;
    }
    .exploreblog-img img {
        max-width: 16.5rem;
        border-radius: 1rem;
        margin-left: 5rem;
    }
    .sex-products h5 {
        padding: 0 0.7rem 0 1.5rem;
        width: 12rem;
    }
    .chat-doc p {
        padding: 0 0 0 1.5rem;
    }
    .sex-products a {
        padding: 0 0 0 1.5rem
    }
    .explore-blog p {
        padding: 0 0 0 1.5rem
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .box-purple {
        margin-top: 1.2rem;
        margin-left: 23rem;
    }
    .box-light {
        margin-left: 1rem;
    }
    .box-yellow {
        margin-left: 1rem;
    }
}

@media (min-width: 375px) and (max-width: 436px) {
    .box-yellow {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .box-purple {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .box-light {
        margin-left: 1rem;
    }
}

@media (max-width: 374px) {
    .doc-img img {
        max-width: 10.4rem;
        margin-left: 0.8rem;
    }
    .exploreblog-img img {
        width: 16.2rem;
        margin-top: 2.5rem;
        margin-left: 1.2rem;
    }
    .box-light {
        max-width: 22rem;
        margin-left: 1rem;
    }
    .box-yellow {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .box-purple {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .chat-doc h5 {
        width: 9rem;
    }
    .sexproduct-img img {
        width: 8rem;
        margin-top: 3rem;
    }
    .chat-doc p {
        margin-top: 0.4rem;
    }
}

@media (max-width: 280px) {
    .explore-blog h5 {
        margin-left: 1rem;
    }
    .explore-blog p {
        margin-left: 1rem;
    }
    .sexproduct-img img {
        max-width: 7rem;
        margin-top: 3rem;
    }
    .exploreblog-img img {
        max-width: 15.3rem;
    }
}