<div class="audio-list">

    <div class="d-flex mb-5">

        <div class="audio-image">

        </div>

        <div class="audio-content">

            <div class="">
                <div class="audio-text ps-2 ps-sm-4 py-sm-1">
                    <p class="audio-title my-1">Sleep More, Sleep early</p>
                    <p class="audio-subtext my-1">Find out how your sleep can make you loose weight</p>
                </div>

                <div class="d-flex ps-2 ps-sm-4 mt-2">

                    <div class="me-2 action-btn-mobile">
                        <div class="audio-action-btn d-flex justify-content-center unlock-btn">
                            <!-- <img src="/assets/images/play_icon.svg" alt=""> -->
                            <button>Unlock N799</button>
                        </div>
                    </div>
                    
    
                    <div class="audio-time-div">
                        <div class="d-flex pe-2">
                            <img class="audio-timer-img me-1 me-sm-2" src="/assets/images/clock_icon_2.svg" alt="audio timer">
                            <p class="audio-time">0:05:26</p>
                        </div>
                    </div>
                    
    
                </div>

              
                
            </div>
            
        </div>

        <div class="px-2 action-btn">
            <div class="audio-action-btn d-flex justify-content-center play-btn">
                <img src="/assets/images/play_icon.svg" alt="">
                <button>Play</button>
            </div>
        </div>


    </div>


    <div class="d-flex mb-5">

        <div class="audio-image">

        </div>

        <div class="audio-content">

            <div class="">
                <div class="audio-text ps-2 ps-sm-4 py-sm-1">
                    <p class="audio-title my-1">Reduce Your Carbs</p>
                    <p class="audio-subtext my-1">Reducing carbs is central to any weight loss journey</p>
                </div>

                <div class="d-flex ps-2 ps-sm-4 mt-2">

                    <div class="me-2 action-btn-mobile">
                        <div class="audio-action-btn d-flex justify-content-center unlock-btn">
                            <button>Unlock N799</button>
                        </div>
                    </div>
                    
    
                    <div class="audio-time-div">
                        <div class="d-flex pe-2">
                            <img class="audio-timer-img me-1 me-sm-2" src="/assets/images/clock_icon_2.svg" alt="audio timer">
                            <p class="audio-time">0:05:26</p>
                        </div>
                    </div>
                    
    
                </div>

              
                
            </div>
            
        </div>

        <div class="px-2 action-btn">
            <div class="audio-action-btn d-flex justify-content-center unlock-btn">
                <button>Unlock N799</button>
            </div>
        </div>


    </div>

</div>

