.wrapper{
    padding-inline: 3rem;
}
.left-sidebar{
    width: 15%;
    padding: 0;
}
.right-sidebar{
    width: 23%;
    padding: 0;
}
.subscription{
    display: none;
}
@media (max-width:1200px) {
    .right-sidebar{
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    .subscription{
        display: block;
        width: 40%;
    }
}

@media (max-width: 992px) {
    .nav-icons{
        display: block !important;
        position: absolute;
        bottom: 0;
        width: 85%;
        padding-block: 1.5rem;

    }
    .main-content{
        width: 100%;
    }
}

@media (max-width:750px) {
    .subscription{
        width: 50%;
    }
}
@media (max-width:625px) {
    .subscription{
        width: 65%;
    }
}
@media (max-width:480px) {
    .subscription{
        width: 100%;
    }
}

@media (max-width: 380px) {
    .wrapper{
        padding-inline: 1rem;
    }
    .nav-icons{
        width: 92%;
    }
}