<div class="container-fluid wrapper">
    <app-header></app-header>
    <div class="d-flex flex-row justify-content-between">
        <app-left-sidebar class="left-sidebar"></app-left-sidebar>
        <div class="main-content col-lg-12 col-xl-7 d-flex flex-column">
            <app-personal-details></app-personal-details>
            <app-track-order></app-track-order>
            <app-period-checker></app-period-checker>
            <app-subscription-card class="subscription"></app-subscription-card>
            <app-subscription></app-subscription>
            <router-outlet></router-outlet>
        </div>
        <app-right-sidebar class="right-sidebar"></app-right-sidebar>
    </div>
    <app-nav-icons class=" d-none nav-icons"></app-nav-icons>
</div>