<div class="modal" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content align-items-center pt-3">
            <h4 class="form-heading">Personal Details</h4>
            <img src="assets/images/profile_pic_placeholder.svg" alt="profile-pic" class="img-fluid profile-pic">

            <div class="user-details d-flex justify-content-center">
                <div class=" User-name">
                    <label for="Username" class="form-label">Username</label>
                    <input type="text" class="form-control " id="Username">
                </div>
                <div class=" gender">
                    <label for="User-gender" class="form-label">Gender</label>
                    <select class="form-select form-control" aria-label="Default select example" id="User-gender">
                        <option selected></option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Prefer not to say</option>
                    </select>
                </div>

            </div>
            <div class="email">
                <label for="User-email" class="form-label">Email Address</label>
                <input type="text" class="form-control " id="User-email">
            </div>

            <div class="contact-info d-flex">
                <div class=" contact-location">
                    <label for="country-code" class="form-label">Country code</label>
                    <select class="form-select form-control w-100" aria-label="Default select example" id="country-code">
                        <option value={{country.value}} *ngFor="let country of countries">{{country.value}}</option>
                    </select>
                </div>
                <div class=" contact-phone">
                    <label for="phone-number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control w-100 " id="phone-number">
                </div>
            </div>

            <button   class="submit-btn">Save Changes</button>
        </div>
    </div>
</div>



