.container {
    width: -webkit-fill-available;
    height: 32rem;
    border: 1px solid #C2D4FF;
    background-color: #C2D4FF;
    border-radius: 2.5rem;
    position: relative;
    flex-wrap: wrap;
}

ngb-carousel {
    max-width: 500px;
    margin: 50px auto;
}

ngb-carousel img {
    width: 100%;
    height: 90.5%;
    outline: none;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    height: 100%;
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

// @media (max-width: 1199px) {
//     .container {
//         width: 38rem;
//         margin-left: 0.3rem;
//     }
// }
@media (max-width: 768px) {
    .container {
        height: 27.9rem;
    }
    ngb-carousel img {
        height: 89.5%;
    }
}