<section>
    <div class='container'>

        <div class='main-carousel col-12'>
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="img-wrapper2 justify-content-center">
                        <img src="assets/images/carousel_1.svg" alt="first slide" class="img-fluid img-responsive ">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-wrapper justify-content-center">
                        <img src="assets/images/carousel_2.svg" alt="second slide" class="img-fluid img-responsive ">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-wrapper1 justify-content-center">
                        <img src="assets/images/carousel_3.svg" alt="third slide" class="img-fluid img-responsive ">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="img-wrapper justify-content-center">
                        <img src="assets/images/carousel_4.svg" alt="fourth slide" class="img-fluid img-responsive ">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>
</section>