.header {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.flex-grow-1 {
    margin-top: 2rem;
}

h1 {
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom: 2.3rem;
    letter-spacing: 0.2rem;
    font-size: 3.7rem;
    line-height: 4rem;
}

p {
    width: 80%;
    color: var( --text-grey-2);
    font-weight: 550;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.app-btn {
    gap: 0.63rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    p {
        width: 98%;
    }
    h1 {
        width: 100%;
        font-size: 3rem;
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {
    h1 {
        width: 100%;
    }
    p {
        font-size: 1.7rem;
    }
    .app-btn {
        margin-top: 3rem;
        margin-bottom: 2.5rem;
        gap: 4rem;
    }
    .carousel {
        margin-top: 3rem;
    }
    .flex {
        padding: 0 3.98rem;
    }
}

@media (max-width: 768px) {
    h1 {
        width: 95%;
        font-size: 3rem;
        line-height: normal;
        // margin-left: 1rem;
    }
    .app-btn {
        margin-bottom: 2rem;
    }
    p {
        width: 92.5%;
        font-size: 1.7rem;
        // margin-left: 1rem;
    }
}

@media (min-width: 375px) and (max-width: 466px) {
    h1 {
        width: 98%;
        font-size: 2rem;
    }
    p {
        font-size: 1.52rem;
        width: 98%;
    }
}