<section>
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="flex col-lg-6 ">
                <h1>A safe space to talk about Sexual Health and Rights</h1>
                <p>Access sexual wellness products and services in the privacy of your phone</p>
                <div class="app-btn d-flex flex-nowrap pt-3">
                    <a class="googlestore_link" href="https://play.google.com/store/apps/details?id=com.mobicure.mypaddi" target="_blank">
                        <img src="/assets/images/google_play_light.svg" alt="google-store" class="img-fluid">
                    </a>
                    <a class="appstore_link" href="https://apps.apple.com/us/app/mypaddi/id1406410464" target="_blank">
                        <img src="/assets/images/app_store_light.svg" alt="app-store" class="img-fluid">
                    </a>
                </div>

            </div>
            <div class="carousel col-lg-6 ms-auto">
                <app-main-carousel></app-main-carousel>
            </div>
        </div>
    </div>
</section>