.header {
    // margin-left: 1.5rem;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.flex-grow-1 {
    margin-top: 2rem;
}

h1 {
    font-weight: bold;
    color: var(--text-blue);
    margin-bottom: 2.3rem;
    letter-spacing: 0.2rem;
    font-size: 3.7rem;
    line-height: 4rem;
}

p {
    color: #7c8899;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 1.55rem;
    margin-bottom: 2rem;
}

.app-btn {
    margin-left: -0.5rem;
}

.googlestore_link img,
.appstore_link img {
    width: 14.5rem;
    height: 5rem;
}