<section>
    <nav class="navbar navbar-expand-lg">
        <div class="container top">
            <a routerLink="/home" class="navbar-brand">
                <img id="line" src="/assets/images/logo_light.svg" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <img src="/assets/images/hamburger_menu.svg" alt="nav-hamburger" class="img-fluid">
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://mobicure.biz/about/" target="_blank" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://mobicure.biz/contact/" target="_blank" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="d-flex ml-auto" style="gap: 20px">
                    <a [routerLink]="['/login']" class="btn btn-light">Log In</a>
                    <a [routerLink]="['/register']" class="btn btn-blue">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>

</section>