.container {
    background-color: var(--bg-white);
    margin-top: 3rem;
}

.partner {
    padding: 0 11rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .partner {
        padding: 0 10rem;
    }
}

@media (min-width: 280px) and (max-width: 991.98px) {
    .partner {
        padding: 0 0.5rem;
    }
}