.container {
    background-color: var(--bg-white);
    margin-top: 3rem;
}

@media (max-width: 1199px) {
    .container {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        padding: 0 3.5rem;
    }
}