<div class="wrapper d-flex flex-column justify-content-center gap-4">
    <div class="user-options d-flex flex-column gap-4">
        <a href="" class="d-flex align-items-center"><img src="assets/images/personal_details_icon.svg"  alt="">Personal Details</a>
        <a href="" class="d-flex align-items-center"><img src="assets/images/period_checker_icon.svg"  alt="">Period Checker</a>
        <a href="" class="d-flex align-items-center"><img src="assets/images/shop_icon.svg"  alt="">myPaddi Shop</a>
        <a href="" class="d-flex align-items-center"><img src="assets/images/track_order_icon.svg"  alt="">Track my Orders</a>
    </div>
    <hr>
    <div class="app-settings d-flex flex-column gap-2">
        <h5>Settings</h5>
        <div class="setting-options d-flex flex-column gap-4">
            <a href="" class="d-flex align-items-center"><img src="assets/images/theme_icon.svg"  alt="">Theme</a>
            <a href="" class="d-flex align-items-center"><img src="assets/images/personal_details_icon.svg"  alt="">Notifications</a>
            <a href="" class="d-flex align-items-center"><img src="assets/images/notification_blue_icon.svg"  alt="">Blocked Users</a>
            <a href="" class="d-flex align-items-center"><img src="assets/images/log_out_icon.svg"  alt="">Log Out</a>
        </div>
    </div>
</div>