.wrapper{
    padding-top: 2rem;
}
a img, .settings-item img{
    margin-right: 1rem;
    cursor: pointer;
}
a, .settings-item{
    text-decoration: none;
  
    color: var(--text-blue);
}
h5{
    color: var(--text-blue);
    font-weight: 600;
}
.theme{
    font-size: 0.8rem;
    color: #7C8899;
}