// This is just styling for this demo
@use "sass:math";


// Define vars we'll be using
$sin45: 0.70710678;

$brand-success: #5cb85c;
$brand-failure: #FF0000;
$loader-size: 7.25em;
$symbol-thickness: 2px; // Check thickness
$check-height: math.div($loader-size, 2);
$check-width: math.div($check-height, 2);
$check-left: (math.div($loader-size, 7)+ math.div($loader-size, 12)); // 7/12 is a nice centrepoint of the tick
$check-color: $brand-success;
$cross-color: $brand-failure;
$cross-offset: (math.div($check-height, $sin45)) - $check-height;

.status-update {
    padding: 2em;
    text-align: center;
}
.circle-div {
    width: $loader-size + 3;
    height: $loader-size + 3;
    margin: 0 auto;
    background-color: #F5FBF7;
    border-radius: 50%;
}
.circle-loader {
    margin-bottom: math.div($loader-size, 2);
    margin-top: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.success {
    -webkit-animation: none;
    animation: none;
    border-color: $brand-success;
    transition: border opacity 500ms ease-out;
    .status {

        &.draw:after {
            animation-duration: 1.2s;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
        }

        &:after {
            opacity: 1;
            height: $check-height;
            width: $check-width;
            transform-origin: left top;
            border-right: $symbol-thickness solid $check-color;
            border-top: $symbol-thickness solid $check-color;
            content: '';
            left: $check-left;
            top: $check-height;
            position: absolute;
        }
    }
}

.failed {
    -webkit-animation: none;
    animation: none;
    border-color: $brand-failure;
    transition: border opacity 500ms ease-out;

    .status {
        top: 50%;
        left: 50%;
        position: absolute;
        &.draw {
            &:before, &:after {
                animation-duration: 1.2s;
                animation-timing-function: ease;
                animation-name: crossmark;
            }

            &:before {
                transform: scaleX(-1) rotate(45deg);
            }

            &:after {
                transform: scaleX(-1) rotate(225deg);
            }
        }

        &:before, &:after {
            opacity: 1;
            height: math.div($check-height, 2);
            width: math.div($check-height, 2);
            transform-origin: left top;
            border-right: $symbol-thickness solid $cross-color;
            border-top: $symbol-thickness solid $cross-color;
            content: '';
            position: absolute;
        }

        &:before {
            left: calc(#{$cross-offset} - #{($symbol-thickness*2)});
            top: calc(#{$symbol-thickness * 2} - #{$cross-offset});
        }

        &:after {
            left: calc(#{math.div(($symbol-thickness * 2), $sin45)} - #{$cross-offset});
            top: calc(#{$cross-offset} - #{math.div(($symbol-thickness), $sin45)});
        }
    }
}


@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}

@keyframes crossmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-width;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-width;
        width: $check-width;
        opacity: 1;
    }
}
