<div class="modal" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pt-3">
            <h4>Track Orders</h4>
            <div class="fulfilled-orders d-flex justify-content-between align-items-center mb-3">
                <p class="Fulfilled">Fulfilled orders</p>
                <button class="category-btn"> Select Category <img src="assets/images/category_dropdown_light.svg" alt="dropdown"></button>
            </div>
            <div class="orders d-flex mt-4 justify-content-between">
                <span>
                    <p>Order no.</p>
                    <h5>352E8646CE4C48</h5>
                </span>
                <button class="viewbtn" type="button" data-bs-toggle="modal" data-bs-target="#secondModal1">View Order</button>
            </div>  
            <div class="orders d-flex justify-content-between">
                <span>
                    <p>Order no.</p>
                    <h5>352E8646CE4C48</h5>
                </span>
                <button class="viewbtn" type="button" data-bs-toggle="modal" data-bs-target="#secondModal1">View Order</button>
            </div>  
            <div class="orders d-flex justify-content-between">
                <span>
                    <p>Order no.</p>
                    <h5>352E8646CE4C48</h5>
                </span>
                <button class="viewbtn" type="button" data-bs-toggle="modal" data-bs-target="#secondModal1">View Order</button>
            </div>  
            <div class="orders d-flex justify-content-between">
                <span>
                    <p>Order no.</p>
                    <h5>352E8646CE4C48</h5>
                </span>
                <button class="viewbtn" type="button" data-bs-toggle="modal" data-bs-target="#secondModal1">View Order</button>
            </div>  
            <div class="orders d-flex justify-content-between">
                <span>
                    <p>Order no.</p>
                    <h5>352E8646CE4C48</h5>
                </span>
                <button class="viewbtn" type="button" data-bs-toggle="modal" data-bs-target="#secondModal1">View Order</button>
            </div>  
            <div class="orders d-flex justify-content-between">
                <span>
                    <p>Order no.</p>
                    <h5>352E8646CE4C48</h5>
                </span>
                <button class="viewbtn" type="button"  data-bs-toggle="modal" data-bs-target="#secondModal1">View Order</button>
            </div>  
        </div>
    </div>
</div>

<div class="modal" id="secondModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class=" modal-content second-content">
            <h5>Order Details</h5>
            <p>items in your order</p>

           <div class="product-img">
                <img src="assets/images/sex_products.svg" alt="sex-prod">
           </div>

           <h4>Caya Diaphragm</h4>

           <div class="order-details">
                <div class="item d-flex justify-content-between align-items-center">
                    <p>1 Item</p>
                    <span>N14,000</span>
                </div>

                <div class="delivery d-flex justify-content-between align-items-center">
                    <p>Delivery Fee</p>
                    <span>N3,000</span>
                </div>

                <div class="status d-flex justify-content-between align-items-center">
                    <p>Status</p>
                    <span>Pending</span>
                </div>
           </div>

           <div class="address">
                <h4>Address</h4>
                <p> Black Rider
                    <br>
                    7B Aideyan Street, Ihama
                    <br>
                    GRA-Benin
                    <br>
                    +2349060562782
                </p>
           </div>
           <button class="viewbtn" type="button">Complete Order</button>
        </div>
    </div>
</div>

