<app-landingpage-navbar></app-landingpage-navbar>
<section>
    <div class="container d-flex justify-content-around">
        <div class="reset-form d-flex">
            <div class="form-wrapper d-flex flex-column">
               <div class=""  *ngIf="!resetPasswordSuccess">
                <div class="description mb-5 pb-1">
                    <h1 class="form-heading">Reset Password</h1>
                    <p class="desc">Choose a new password for your account</p>
                </div>

                <form (keyup.enter)="resetPassword()" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" class="">
                <div class="mb-4">
                    <label for="reset_code" class="form-label">Code</label>
                    <div class="d-flex form-input">
                        <input type="text" class="form-control" id="reset_code" formControlName="code">
                    </div> 
                </div>

                <div class="mb-4">
                    <label for="user-password" class="form-label">New Password</label>
                    <div class="d-flex form-input">
                        <input [type]="viewPassword ? 'text': 'password'" class="form-control" 
                        formControlName="password" id="user-password">
                        <button *ngIf="!viewPassword" (click)="view_password()" class="viewPassword">
                            <img src="assets/images/view_password_icon.svg" alt="view password icon">
                        </button>

                        <button *ngIf="viewPassword" (click)="hide_password()" class="hidePassword">
                            <img src="assets/images/hide_password_icon.svg" alt="hide password icon">
                        </button>
                    </div> 
                </div> 
                <div class="mb-4">
                    <label for="confirm-password" class="form-label">Confirm New Password</label>
                    <div class="d-flex form-input mb-3">
                        <input [type]="viewConfirmPassword ? 'text' : 'password'" class="form-control" 
                        formControlName="confirmPassword" id="confirm-password">
                        <button *ngIf="!viewConfirmPassword" (click)="view_confirm_password()" class="viewPassword">
                            <img src="assets/images/view_password_icon.svg" alt="view confirm password icon">
                        </button>
                        <button *ngIf="viewConfirmPassword" (click)="hide_confirm_password()" class="hidePassword">
                            <img src="assets/images/hide_password_icon.svg" alt="hide confirm password icon">
                        </button>
                    </div>
                    <span class="text-danger" *ngIf="passwordMatchError">
                        Passwords don't match
                    </span>
                </div> 
                
                <button  class="submit-btn btn my-3" [disabled]="resetPasswordForm.invalid">Reset Password
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm ms-1" role="status"
                            aria-hidden="true"></span>
                </button>
                </form>
                <a routerLink="../login" class="sign-in-btn d-block text-center mt-3">Back to Login</a>
                </div>

                <div class="text-center mt-4" *ngIf="resetPasswordSuccess">
                    <div>
                        <app-status-update status="success"></app-status-update>
                    </div>
                    <p class="successText">Password reset Successful</p>
                    <button routerLink="../login" class="submit-btn btn mt-3">Login</button>
                </div>
            </div>
        </div>

        
        <div class="carousel">
            <app-main-carousel></app-main-carousel>
        </div>
    </div>
</section>

