<app-landingpage-navbar></app-landingpage-navbar>
<section>
    <div class="container d-flex justify-content-around">
        <div class="reset-form d-flex">
            <div class="form-wrapper d-flex flex-column">
                <div class="description">
                    <h1 class="form-heading">Reset Password</h1>
                    <p class="desc">Choose a new password for your account</p>
                </div>

                <div class="mb-3">
                    <label for="User-password" class="form-label">New Password</label>
                    <div class="d-flex form-input">
                        <input type="password" class="form-control" id="User-password">
                        <button>
                            <img src="assets/images/view_password_icon.svg" alt="view password icon">
                        </button>
                    </div> 
                </div> 
                <div class="mb-3">
                    <label for="User-password" class="form-label">Confirm New Password</label>
                    <div class="d-flex form-input">
                        <input type="password" class="form-control" id="User-password">
                        <button>
                            <img src="assets/images/view_password_icon.svg" alt="view password icon">
                        </button>
                    </div> 
                </div> 

                <button  class="submit-btn">Reset Password</button>

                <a routerLink="../login" class="sign-in-btn d-block text-center">Back to LogIn</a>
            </div>
        </div>
        <div class="carousel">
            <app-main-carousel></app-main-carousel>
        </div>
    </div>
</section>

