<footer>

    <div class="footer-section align-items-center">
        <div class="container mt-3">
            <div class="row">
                <div class="news-letter  col-md-6">
                    <h4>Our Newsletter</h4>
                    <p>Get e-mail updates about our latest news and special offers</p>
                    <div class="mt-4">
                        <input type="email" class="email form-control" Placeholder="Email Address">
                        <button type="signup" class="btn btn-primary mt-4">Sign Up</button>
                    </div>
                </div>

                <div class="footer-links col-md-6">
                    <div class="d-flex">
                        <div class="explore-links">
                            <h4 class="mb-5">Explore</h4>
                            <a href="https://www.shop.mypaddiapp.com/" target="_blank" class="shop mb-3">myPaddi Shop</a>
                            <a href="#" class="pharmacy mb-3">e-pharmacy</a>
                            <a [routerLink]="['/blog/sexual-advocacy']" class="Advocacy mb-3">Sexual Health Advocacy Campaign</a>
                        </div>

                        <div class="social-links">
                            <h4 class="mb-5">Socials</h4>
                            <a href="https://www.instagram.com/mypaddi_ng" target="_blank" class="insta mb-3">Instagram</a>
                            <a href="https://www.facebook.com/myPaddiapp" target="_blank" class="facebook mb-3">Facebook</a>
                            <a href="https://api.whatsapp.com/send?phone=2347056117333&text=Hello,%20MyPaddi%20shop!" target="_blank" class="whatsapp mb-3">Whatsapp</a>
                            <a href="https://www.youtube.com/channel/UCuoCkUJ9d8WNPNvp9PkwWzg" target="_blank" class="youtube mb-3">Youtube</a>
                        </div>
                    </div>
                </div>
            </div>
            <p class=" copyright text-center pt-5">Copyright MOBicure Solution 2023, All rights reserved</p>

        </div>
    </div>
</footer>