<div class="wrapper">
    <app-chat-banner></app-chat-banner>
    <!-- <section> -->
        <h5 class="">Available Doctors/Counsellors</h5>
        <div class="container chat-content">
            <div class="chat-body d-flex flex-row  pt-3">
                <div class="doc-profile "></div>
                <div class="available-doc d-flex ">
                    <div class="doc-section">
                        <div class="doc-name ">
                            <span><h4>Dr. Nnamdi Ogboju<img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid "></h4></span>
                        </div>
                        <p>AVAILABLE</p>
                    </div>
    
                    <button class="btn">
                        <span> Start Chat </span> 
                        <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>
                </div>
            </div>
    
            <div class="chat-body d-flex">
                <div class="doc-profile "></div>
                <div class="available-doc d-flex ">
                    <div class="doc-section">
                        <div class="doc-name ">
                            <span><h4>Francisa Mom<img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid "></h4></span>
                        </div>
                        <p>AVAILABLE</p>
                    </div>
    
                    <button class="btn">
                        <span> Start Chat </span> 
                        <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>
                </div>
    
            </div>
            <div class="chat-body d-flex">
                <div class="doc-profile "></div>
                <div class="available-doc d-flex ">
                    <div class="doc-section">
                        <div class="doc-name ">
                            <span><h4>Dr. David Huddersfield<img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid "></h4></span>
                        </div>
                        <p>AVAILABLE</p>
                    </div>
    
                    <button class="btn">
                        <span> Start Chat </span> 
                        <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>
                </div>
    
            </div>
            <div class="chat-body d-flex">
                <div class="doc-profile "></div>
                <div class="available-doc d-flex ">
                    <div class="doc-section">
                        <div class="doc-name ">
                            <span><h4>Stella Damaris<img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid "></h4></span>
                        </div>
                        <p>AVAILABLE</p>
                    </div>
    
                    <button class="btn">
                        <span> Start Chat </span> 
                        <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>
                </div>
    
            </div>
            <div class="chat-body d-flex ">
                <div class="doc-profile "></div>
                <div class="available-doc d-flex ">
                    <div class="doc-section">
                        <div class="doc-name ">
                            <span><h4>Dr.Sophie Tope<img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid "></h4></span>
                        </div>
                        <p>AVAILABLE</p>
                    </div>
    
                    <button class="btn">
                        <span> Start Chat</span> 
                        <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>
                </div>
             
            </div>
        </div>
    <!-- </section> -->
</div>