.banner {
    background: var(--bg-light-orange);
    max-width: 38rem;
    height: auto;
    border-radius: 1.5rem;
    padding: 3rem 5rem 1rem 1rem;
    .banner-text {
        margin-left: 2rem;
        h3 {
            font-weight: 700;
            color: var(--text-blue);
            font-size: 1.2rem;
            white-space: nowrap;
        }
        p {
            font-size: 0.5rem;
            color: var(--subtext-green);
        }
    }
    .wati-img {
        margin-left: 1rem;
    }
}

h5 {
    font-size: 1rem;
    color: #7c8899;
    margin-left: -22rem;
    margin-top: 2rem;
    font-weight: 500;
}

.chat-content {
    margin-top: -3rem;
    position: relative;
    .doc-profile {
        background: #d9d9d9;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        right: 69%;
    }
    h4 {
        font-size: 1rem;
        font-weight: 700;
        color: var(--text-blue);
        margin-right: 0.5rem;
        white-space: nowrap;
    }
    p {
        font-size: 0.65rem;
        color: #a4a4a4;
        font-weight: 700;
        letter-spacing: 0.05rem;
    }
    .chat-body {
        margin-top: 4rem;
        justify-content: space-between;
    }
    .btn {
        position: absolute;
        right: 27%;
        background-color: var(--bg-blue-2);
        padding: 0.1rem 1rem;
        border-radius: 3rem;
        text-decoration: none;
        white-space: nowrap;
        span {
            color: #3289ff;
            font-size: 0.8rem;
            font-weight: 700;
            margin-right: 0.5rem;
            letter-spacing: 0.03em;
            white-space: nowrap;
        }
        img {
            width: 0.8rem;
        }
    }
    .doc-section {
        position: absolute;
        left: 33%;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .chat-content {
        .doc-section {
            left: 30%;
        }
        .btn {
            right: 23%;
        }
        .doc-profile {
            right: 72%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .chat-content {
        .doc-section {
            left: 25%;
        }
        .btn {
            right: 18%;
        }
        .doc-profile {
            right: 77%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .chat-content {
        .doc-section {
            left: 17%;
        }
        .btn {
            right: 7%;
        }
        .doc-profile {
            right: 86%;
        }
    }
}

@media (min-width: 400px) and (max-width: 767.98px) {
    h5 {
        margin-left: -14rem;
    }
    .chat-content {
        .doc-section {
            left: 16%;
        }
        .btn {
            right: 2%;
        }
        .doc-profile {
            right: 89%;
        }
    }
}

@media (min-width: 280px) and (max-width: 399.98px) {
    h5 {
        margin-left: -4rem;
    }
    .chat-content {
        .doc-section {
            left: 17%;
        }
        .btn {
            right: 1%;
            padding: 0.1rem 0.6rem;
            span {
                font-size: 0.6rem;
            }
        }
        .doc-profile {
            right: 87%;
        }
        h4 {
            font-size: 0.6rem;
        }
        p {
            font-size: 0.5rem;
        }
    }
}

@media (min-width: 400px) and (max-width: 450px) {
    h5 {
        margin-left: -10rem;
    }
}

@media (min-width: 374px) and (max-width: 399.98px) {
    h5 {
        margin-left: -7.5rem;
    }
}

@media (min-width: 320px) and (max-width: 373.98px) {
    h5 {
        margin-left: -6rem;
    }
}

@media (max-width: 299px) {
    h5 {
        margin-left: -3rem;
    }
}

@media (min-width: 280px) and (max-width: 450px) {
    .banner {
        padding: 1.5rem 5rem 0 1rem;
        .banner-text {
            h3 {
                font-size: 0.7rem;
                margin-left: -1rem;
            }
            p {
                margin-left: -1rem;
            }
        }
        .wati-img {
            width: 6rem;
            margin-left: 1.5rem;
        }
    }
}