<section class="py-5">
    <div class="container pt-2">
        <!-- <div class=" row justify-content-center "> -->

        <div class="container banner d-flex ">
            <!-- <div class="chat-banner d-flex py-5"> -->
            <div class="banner-text  col-6">
                <h3 class="pb-1 ">Chat with a<br>Doctor / Counsellor</h3>
                <p>POWERED BY WATI</p>
            </div>
            <div class="wati-img  col-6">
                <img src="assets/images/wati_chat.svg " alt="wati-chat " class="img-fluid ">
            </div>
            <!-- </div> -->
        </div>
        <h5 class="text-center">Available Doctors/Counsellors</h5>
        <div class="container chat-content">
            <div class="chat-body d-flex pt-3">
                <div class="doc-profile "></div>
                <div class="doc-section">
                    <div class="doc-name d-flex ">
                        <h4>Dr. Nnamdi Ogboju</h4>
                        <span><img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid "></span>
                    </div>
                    <p>AVAILABLE</p>
                </div>

                <button class="btn">
                            <span> Start Chat</span>
                            <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>
            </div>

            <div class="chat-body d-flex">
                <div class="doc-profile "></div>
                <div class="doc-section ">
                    <div class="doc-name d-flex ">
                        <h4>Francisa Mom</h4>
                        <img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid ">
                    </div>
                    <p>AVAILABLE</p>
                </div>

                <button class="btn ">
                            <span> Start Chat</span>
                            <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>

            </div>
            <div class="chat-body d-flex">
                <div class="doc-profile "></div>
                <div class="doc-section ">
                    <div class="doc-name d-flex ">
                        <h4>Dr. David Huddersfield</h4>
                        <img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid ">
                    </div>
                    <p>AVAILABLE</p>
                </div>

                <button class="btn ">
                            <span> Start Chat</span>
                            <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>

            </div>
            <div class="chat-body d-flex">
                <div class="doc-profile "></div>
                <div class="doc-section ">
                    <div class="doc-name d-flex ">
                        <h4>Stella Damaris</h4>
                        <img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid ">
                    </div>
                    <p>AVAILABLE</p>
                </div>

                <button class="btn ">
                            <span> Start Chat</span>
                            <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>

            </div>
            <div class="chat-body d-flex ">
                <div class="doc-profile "></div>
                <div class="doc-section ">
                    <div class="doc-name d-flex ">
                        <h4>Dr. Sophia Tope</h4>
                        <img src="assets/images/verified.svg " alt="wati-chat " class="img-fluid ">
                    </div>
                    <p>AVAILABLE</p>
                </div>

                <button class="btn">
                            <span> Start Chat</span>
                            <img src="assets/images/whatsapp_icon.svg " alt="whatsapp-logo " class="img-fluid ">
                    </button>

            </div>
        </div>
        <!-- </div> -->

    </div>
</section>